h2{
    font-size: 20px;
    color: aliceblue ;
    font-weight: 800;
    line-height: 57px;
    background: linear-gradient(to right,  rgb(0, 204, 255),  rgb(48, 180, 213), rgb(128, 154, 159), rgb(198, 205, 207),  rgb(230, 233, 234),);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#about{
    padding: 60px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 670px;
    align-items: center;
    .leftAbout {
        width: 100%;
        height: 400px;
        .img {
            width: 100%;
            height: 400px;
            -webkit-mask-image: 
                linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 0) 100%),
                linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 0) 100%),
                linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%),
                linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
            mask-image: 
                linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%),
                linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%),
                linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%),
                linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
            -webkit-mask-composite: destination-in;
            mask-composite: intersect;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
        }
        
        .logo{
            background: #0e1017;
            width: 107px;
            padding: 9px;
            height: auto;
            border-radius: 50%;
            display: grid;
            justify-content: center;
            perspective: 1000px;
            margin-top: -280px;
            transform-origin: left center;
            transform: rotateY(50deg);
            backface-visibility: hidden; 
            margin-left: 142px;
            img{
                width: 100px;
               
                transition: transform 1s ease-in-out;
               
                height: 130px;
                animation: dropShadowPulse 2s infinite ease-in-out;
            }
        }
    }
    
    .content{
        padding: 40px 0px;
        text-align: left;
        color: #ffffff;
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
        width: 450px;
        margin-left: 50px;
       
        
    }

}
@keyframes dropShadowPulse {
    0% {
      filter: drop-shadow(0px 0px 0px #00ccff);
    }
    50% {
      filter: drop-shadow(10px 10px 70px #00ccff);
    }
    100% {
      filter: drop-shadow(0px 0px 0px #00ccff);
    }
  }
@media only screen and (max-width: 820px) {
    #about {
        padding: 30px;
    }
}
@media only screen and (max-width: 610px) {
    h2{
        margin-left: 45px;
    }
    #about{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        align-items: center;
        gap: 15px;
        padding: 60px;
        .img{
            width: 100%;
        }
        .leftAbout{
            .logo{
                margin-left: 135px;
            }
        }
        .content{
            text-align: center;
            padding: 20px;
            color: #ffffff;
            font-size: 24px;
            line-height: 30px;
            font-weight: 600;
            margin-left: -10px;
            width: 100%;
        }
    }
}
@media only screen and (max-width: 435px) {
    h2{
        margin-left: 15px;
    }
    #about{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        align-items: center;
        gap: 15px;
        .img{
            width: 435px;
            // object-fit: cover;
        }
        .leftAbout{
            .logo{
                margin-left: 75px;
            }
        }
        .content{
            text-align: center;
            padding: 50px;
            color: #ffffff;
            font-size: 19px;
            line-height: 30px;
            font-weight: 600;
            margin-left: -30px;
        }
    }
}
@media only screen and (max-width: 428px) {
  
    #about{
        padding: 30px 30px;
        .leftAbout{
            .logo{
                margin-left: 45px;
                img{
                    width: 120px;
                }
            }
        }
        .content{
            font-size: 18px;
            padding: 0px 0px;
            text-align: left;
            margin-left: 0px;
        }
        .img{
            height: 490px;
            object-fit: cover;
            width: 100%;
            background: #000;
        }
       }
}
@media only screen and (max-width: 480px) {
    h2{
        margin-left: 15px;
    }
    #about{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        align-items: center;
        gap: 15px;
        .img{
            width: 435px;
        }
        .content{
            text-align: left;
            padding: 10px 10px;
            color: #ffffff;
            font-size: 22px;
            line-height: 30px;
            font-weight: 600;
            margin-left: -10px;
        }
    }
}
@media only screen and (max-width: 395px) {
    
   #about{
    padding: 30px 30px;
    .leftAbout{
        .logo{
            margin-left: 28px;
            
        }
    }
    .content{
        font-size: 18px;
        padding: 0px 0px;
        text-align: center;
        margin-left: 0px;
    }
    .img{
        height: 490px;
        object-fit: cover;
        width: 100%;
        background: #000;
    }
   }
}

@media only screen and (max-width: 360px) {
    h2{
        margin-left: 55px;
    }
   #about{
    .leftAbout{
        .logo{
            margin-left: 15px;
            
        }
    }
    .content{
        font-size: 12px;
        padding: 0px 10px;
        text-align: center;
        margin-left: -10px;
    }
    .img{
        height: 490px;
        // object-fit: cover;
        width: 100%;
        background: #000;
    }
   }
}